* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    overflow: hidden;
    margin: auto;
    border: 1px solid black;
}

.header {
    width: 100%;
    background-color: gray;
    float: left;
    font-size: 20px;
}

.title {
    width: 90%;
    background-color: pink;
    float: left;
    padding: 10px;
}

.btnexit {
    width: 10%;
    background-color: blue;
    float: left;
    padding: 10px;
    background-color: red;
    text-align: center;
}

.body {
    width: 100%;
    float: left;
    padding: 10px;
}

label {
    width: 100%;
    float: left;
    font-size: 18px;
}

.control-form {
    width: 100%;
    padding: 5px;
    float: left;
}

.img-box {
    width: 100px;
    height: 100px;
    float: left;
    border: 2px solid black;
    background-image: url(Img/is.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-box input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    float: left;
    opacity: 0;
}

.footer {
    width: 100%;
    background-color: gray;
    float: left;
    padding: 5px;
}

.btn-save {
    padding: 10px 15px;
    float: left;
}

.btn-save-backg {
    background-color: red;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}

.edit {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

table {
    width: 100%;
    float: left;
    background-color: pink;
    border-collapse: collapse;
    /* border: solid 1px black; */
    margin: 5px 0;
}

table tr th {
    border: solid 1px black;
    padding: 15px;
}

table tr th:first-child {
    background-color: blue;
}

table tr th:nth-child(2) {
    background-color: yellow;
}

table tr th:nth-child(3) {
    background-color: gray;
}

table tr th:nth-child(4) {
    background-color: green;
}

table tr th:last-child {
    background-color: greenyellow;
}

table td:nth-child(odd) {
    background-color: darkolivegreen;
}

table td:nth-child(even) {
    background-color: burlywood;
}

table tr td {
    border: solid 1px black;
    padding: 10px;
}

table tr:hover td {
    background-color: black;
    color: whitesmoke;
}

.container-fluid {
    width: 500px;
    margin: auto;
    overflow: hidden;
    background-color: gray;
}

.body1 {
    width: 100%;
    padding: 2%;
    float: left;
}

.lbl {
    width: 9%;
    float: left;
    margin: 15px 0px 0px 1%;
}

.int {
    width: 39%;
    padding: 1% 0;
    float: left;
    margin-top: 10px;
}